<div class="container">
  <div class="create-account">
    <header>
      <h1>CREAR TU CUENTA</h1>
    </header>
    <mat-divider></mat-divider>
    <div class="anuncio">
      <div class="imagen">
        <img src="assets/images/logo_vendedor.jpg" alt="LOGO_VENDEDOR" />
      </div>
      <div class="message">
        <h2>¡Bienvenido a la comunidad de compradores!</h2>
        <p>
          Encuentra los mejores productos y servicios para tu empresa y optimiza
          tus procesos de agricultura.
        </p>
      </div>
    </div>
    <form action="">
      <h4>Completa tus Datos</h4>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>phone_enabled</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-checkbox color="primary">
          Acepto expresamente la Política de Tratamiento de Datos Personales de
          Agritec
        </mat-checkbox>
      </div>
      <div class="button-submit">
        <button mat-raised-button color="primary">
          <mat-icon>send</mat-icon>
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
