<div class="container">
  <section class="inicio-slogan">
    <section class="slogan">
      <h1>Revolucionando la Agricultura con Tecnología Robótica</h1>
      <img src="assets/images/logo.jpg" alt="" width="100" height="100" />
      <p>
        Encuentra la mejor solución para tu cultivo con nuestra tecnología de
        punta y nuestros robots inteligentes. ¡No esperes más y únete a la
        revolución!
      </p>
    </section>
    <section class="imagen">
      <img src="assets/images/fondo_inicio.png" alt="Imagen de inicio" />
    </section>
  </section>
  <section class="productos">
    <div class="subtitle">
      <h2>Productos Destacados</h2>
    </div>
    <div class="row">
      <mat-card class="example-card">
        <img
          class="img-card"
          mat-card-image
          src="assets/images/robot1.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>
            The Shiba Inu is the smallest of the six original and distinct.
          </mat-card-subtitle>
          <div class="precio">
            <div class="unidad">S/.</div>
            <div class="monto">1000.99</div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="rediredDetails()">
            <mat-icon>add</mat-icon> Detalles
          </button>
          <button mat-raised-button color="primary">
            <mat-icon>shopping_cart</mat-icon> Añadir al carrito
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img
          class="img-card"
          mat-card-image
          src="assets/images/robot1.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>
            The Shiba Inu is the smallest of the six original and distinct.
          </mat-card-subtitle>
          <div class="precio">
            <div class="unidad">S/.</div>
            <div class="monto">1000.99</div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="rediredDetails()">
            <mat-icon>add</mat-icon> Detalles
          </button>
          <button mat-raised-button color="primary">
            <mat-icon>shopping_cart</mat-icon> Añadir al carrito
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img
          class="img-card"
          mat-card-image
          src="assets/images/robot1.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>
            The Shiba Inu is the smallest of the six original and distinct.
          </mat-card-subtitle>
          <div class="precio">
            <div class="unidad">S/.</div>
            <div class="monto">1000.99</div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="rediredDetails()">
            <mat-icon>add</mat-icon> Detalles
          </button>
          <button mat-raised-button color="primary">
            <mat-icon>shopping_cart</mat-icon> Añadir al carrito
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <img
          class="img-card"
          mat-card-image
          src="assets/images/robot1.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>
            The Shiba Inu is the smallest of the six original and distinct.
          </mat-card-subtitle>
          <div class="precio">
            <div class="unidad">S/.</div>
            <div class="monto">1000.99</div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="rediredDetails()">
            <mat-icon>add</mat-icon> Detalles
          </button>
          <button mat-raised-button color="primary">
            <mat-icon>shopping_cart</mat-icon> Añadir al carrito
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
