<div class="container">
  <div class="card">
    <header>
      <div class="logo-unprg">
        <img src="assets/images/logo.jpg" alt="UNPRG" />
      </div>
      <div class="title">BIENVENIDO AGRITEC</div>
      <div class="subtitle">INICIAR SESIÓN</div>
    </header>
    <div class="card-container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Introduce tu usuario</mat-label>
          <input matInput formControlName="usuario" />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Introduce tu contraseña</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'hidePassword password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary">Ingresar</button>
      </form>
    </div>
    <footer>
      @if(loading){
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </footer>
  </div>
</div>
