.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .productos{
    margin-top: 2rem;

    .subtitle{
      background-color: #FFF67E;
      margin: 1rem 0 2rem 0; 
      padding: .5rem 1rem;
      border-radius: 1rem;

      h2{
        font-size: 1.5rem;
        margin: 0;
      }
    }

    .row{
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      
      .example-card {
        max-width: 350px;
        
        .img-card{
          width: 350px;
          height: 220px;
        }

        mat-card-content{
          padding: 1rem;
        }

        .precio{
          display: flex;
          align-items: center;
          margin-top: 1rem;

          .unidad{
            font-size: 1rem;
            color: #416D19;
            font-weight: 600;
          }
          .monto{
            margin-left: .5rem;
            font-size: 1.5rem;
          }
        }

        mat-card-actions{
          display: flex;
          justify-content: space-between;
          gap: 1rem;
        }
      }
    }
  }
}