<main class="main">
  <div class="content">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>

      <div class="example-sidenav-content">
        <mat-toolbar>
          <button
            type="button"
            mat-icon-button
            aria-label="Example icon-button"
            (click)="drawer.toggle()"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span routerLink="inicio" style="cursor: pointer">AGRITEC</span>
          <div class="logo-pais">
            <img src="assets/images/peru_logo.png" alt="LOGO PERU" width="40" />
          </div>
          <div class="items">
            <a routerLink="empresa" routerLinkActive="activate">
              ¿Quiénes Somos?
            </a>
            <a routerLink="contactanos" routerLinkActive="activate">
              Contáctanos
            </a>
            <a routerLink="consultoria" routerLinkActive="activate">
              Consultoría
            </a>
          </div>
          <span class="example-spacer"></span>
          <div class="items">
            <a href="#"> Iniciar sesión </a>
            <a href="#"> Crear cuenta </a>
          </div>
          <button mat-icon-button aria-label="Example icon-button">
            <mat-icon>account_circle</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </mat-toolbar>

        <div class="contenido">
          <router-outlet />
        </div>
      </div>
    </mat-drawer-container>
  </div>
</main>
