<main class="main">
  <div class="content">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-sidebar></app-sidebar>
      </mat-drawer>

      <div class="example-sidenav-content">
        <mat-toolbar>
          <button
            type="button"
            mat-icon-button
            aria-label="Example icon-button"
            (click)="drawer.toggle()"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span routerLink="inicio" style="cursor: pointer">AGRITEC</span>
          <div class="logo-pais">
            <img src="assets/images/peru_logo.png" alt="LOGO PERU" width="30" />
          </div>
          <div class="items">
            <a routerLink="empresa" routerLinkActive="activate">
              ¿Quiénes Somos?
            </a>
            <a routerLink="contactanos" routerLinkActive="activate">
              Contáctanos
            </a>
            <a routerLink="consultoria" routerLinkActive="activate">
              Consultoría
            </a>
          </div>
          <span class="example-spacer"></span>
          @if(!isLogged){
          <div class="items">
            <a routerLink="login" routerLinkActive="activate">
              Iniciar sesión
            </a>
            <a routerLink="login-comprador" routerLinkActive="activate">
              Crear cuenta
            </a>
          </div>
          } @if(statusLogged | async){
          <div class="user">
            <p>{{ userLogged.nombres }} {{ userLogged.apellidos }}</p>
          </div>
          }
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button"
            (click)="redirectCreateAccount()"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="logout()" mat-menu-item>
              <mat-icon>logout</mat-icon> salir
            </button>
          </mat-menu>
          <button mat-icon-button aria-label="Example icon-button">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </mat-toolbar>

        <div class="contenido">
          <router-outlet />
        </div>
      </div>
    </mat-drawer-container>
  </div>
</main>
