<div class="sidenav">
  <header>
    <div class="logo-agritec">
      <img src="assets/images/logo.jpg" />
    </div>
    <div class="agritec-name">
      <p>AGRITEC</p>
    </div>
  </header>
  <div class="barra-color">
    <div class="azul"></div>
    <div class="celeste"></div>
  </div>
  <div class="sidenav-content">
    <ul>
      @for (categoria of categorias; track categoria.id) {
      <li>
        <div class="item">
          <a (click)="selectCategoria(categoria.id)">
            <div>
              <mat-icon>{{ categoria.icono }}</mat-icon>
            </div>
            <span>{{ categoria.nombre }}</span>
          </a>
        </div>
      </li>
      }
    </ul>
    @if(isLogged){
    <footer>
      <div class="logout">
        <div class="user-name">
          <mat-icon>account_circle</mat-icon>
          <div>{{ userLogged.apellidos }} {{ userLogged.nombres }}</div>
        </div>
        <button
          mat-icon-button
          matTooltip="salir"
          matTooltipPosition="right"
          class="small-button"
          (click)="logout()"
        >
          <mat-icon class="small-icon">logout</mat-icon>
        </button>
      </div>
    </footer>
    }
  </div>
</div>
