<div class="sidenav">
  <header>
    <div class="logo-agritec">
      <img src="assets/images/logo.jpg" />
    </div>
    <div class="agritec-name">
      <p>AGRITEC</p>
      <div class="oneline">
        <div class="status-indicator">
          <div></div>
        </div>
        <span>Wilmer Yoel</span>
      </div>
    </div>
  </header>
  <div class="barra-color">
    <div class="azul"></div>
    <div class="celeste"></div>
  </div>
  <div class="sidenav-content">
    <ul>
      <li>
        <div class="item">
          <a
            routerLink="inicio"
            routerLinkActive="router-link-active"
            (click)="openedSubMenu = null"
          >
            <mat-icon>group</mat-icon>
            <span>Usuarios</span>
          </a>
        </div>
      </li>
      <!-- <li>
        <div class="item">
          <a
            routerLink="postulante/modificar"
            (click)="toggleSubMenu('postulante')"
            [ngClass]="{ 'item-active': openedSubMenu === 'postulante' }"
          >
            <mat-icon>person</mat-icon>
            <span>Postulante</span>
          </a>
          <div
            class="submenu"
            [ngClass]="{ open: openedSubMenu === 'postulante' }"
          >
            <ul>
              <li>
                <div class="submenu-item">
                  <a
                    routerLink="postulante/modificar"
                    routerLinkActive="router-link-active"
                  >
                    Modificar datos
                  </a>
                </div>
              </li>
              <li>
                <div class="submenu-item">
                  <a
                    routerLink="postulante/ficha-inscripcion"
                    routerLinkActive="router-link-active"
                  >
                    ficha de inscripción
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li> -->
    </ul>
    <footer>
      <div class="logout">
        <div class="user-name">
          <mat-icon>account_circle</mat-icon>
          <div>Suclupe Farroñan Wilmer Yoel</div>
        </div>
        <button
          mat-icon-button
          matTooltip="salir"
          matTooltipPosition="right"
          class="small-button"
          (click)="logout()"
        >
          <mat-icon class="small-icon">logout</mat-icon>
        </button>
      </div>
    </footer>
  </div>
</div>
